<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">도전하는 삶을 지향하는 웹디자이너 음혜선입니다.</h3>
                </div>
            </div>

            <!-- The Grid -->
           <div class="w3-row-padding">
            <!-- Left Column -->
               <div class="w3-third">

                 <div class="w3-white w3-text-grey w3-card-4">
                   <div class="w3-display-container">
                     <img src="{{ site.baseurl }}/img/about/profile.jpg" style="width:100%" alt="profile">
                     <div class="w3-display-bottomleft w3-container w3-text-white">
                       <h4>Eum, Hye-Seon </h4><h6>(91.09.23)</h6>
                     </div>
                   </div>
                   <div class="w3-container">
                     <br>
                     <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Designer</p>
                     <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Hwagok-dong, Gangseo-gu, Seoul</p>
                     <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>eumhs14@naver.com</p>
                     <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>010-2706-3558</p>
                     <p><i class="fa fa-heart fa-fw w3-margin-right w3-large w3-text-teal"></i>2015.10.31 (Wedding)</p>
                     <hr>

                     <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                     <p>Adobe Photoshop</p>
                     <div class="w3-light-grey w3-round-xlarge w3-small">
                       <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                     </div>
                     <br>
                     <p>Illustrator</p>
                     <div class="w3-light-grey w3-round-xlarge w3-small">
                       <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
                     </div>
                     <br>
                     <p>Programing(HTML,CSS)</p>
                     <div class="w3-light-grey w3-round-xlarge w3-small">
                       <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
                     </div>
                     <hr>
                     <p class="w3-large"><b><i class="fa fa-certificate fa-fw w3-margin-right w3-text-teal"></i>Education</b></p>
                       <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013.07 - 2013.12</h6>
                       <p><b>ITWILL</b><br>
                       안드로이드 플랫폼 기반의 하이브리드 앱 개발자 <br>양성과정 수료</p><br>

                       <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011 - 2013</h6>
                       <p><b>연성대학교(구,안양과학대학)</b> 인터넷정보과 졸업</p><br>

                       <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2007 - 2010</h6>
                       <p><b>인천가좌고등학교</b> 문과계열 졸업</p>



                   </div>
                 </div><br>
               <!-- End Left Column -->
               </div>
               <!-- Right Column -->
               <div class="w3-twothird">
                <!-- <div class="w3-container w3-card w3-white">
                      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                          <div class="w3-container">
                            <h5 class="w3-opacity"><b>인천가좌고등학교</b></h5>
                              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2007 - 2010</h6>
                              <p>문과계열 졸업</p>
                              <hr>
                          </div>
                          <div class="w3-container">
                            <h5 class="w3-opacity"><b>연성대학교(구,안양과학대학)</b></h5>
                            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011 - 2013</h6>
                            <p>인터넷정보과 졸업</p>
                            <hr>
                          </div>
                          <div class="w3-container">
                            <h5 class="w3-opacity"><b>ITWILL</b></h5>
                            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013.07 - 2013.12</h6>
                            <p>안드로이드 플랫폼기반의 하이브리드 앱 개발자 양성과정 수료</p><br>
                          </div>
                    </div>-->
                 <div class="w3-container w3-card w3-white w3-margin-bottom">
                   <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                   <div class="w3-container">
                     <h5 class="w3-opacity"><b>㈜알피아이,㈜GECL코리아</b></h5>
                     <h6 class="w3-opacity">(2017.07 알피아이에서 GECL코리아로 법인 이전)</h6>
                     <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016.05 ~ 2017.11(1년 7개월)</h6>
                     <p><li>해외 구매대행 판매MD</li>
                        - 상품기획,CS,정산등 전반적인 MD업무<br><br>
                        <li>웹디자이너</li>
                        - 웹디자인(상품 상세페이지,SNS관리,배너,팝업,전단지 등)<br><br>
                        <li>IT개발부서 프로젝트 참여</li>
                        - 2016년 07월 Agnete 홈페이지 웹디자인<br>
                        - 2017년 01월 ShipTrack 어플 디자인<br>
                      </p>
                   </div>
                   <hr>
                   <div class="w3-container">
                     <h5 class="w3-opacity"><b>로리스토어(주)</b></h5>
                     <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016.01 ~ 2016.03(3개월)</h6>
                     <p>외발휠, 드론을 판매하는 업체로써 드론부서에서 자사 홈페이지 관리<br>카페24 사용하여 다양한 기능과 디자인 작업<br>
                       - 제품 상세페이지 제작을 주업무로 디자인적인 업무를 많이 함.</p>
                   </div>
                   <hr>
                   <div class="w3-container">
                     <h5 class="w3-opacity"><b>한국코프로텍(주)</b></h5>
                     <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015.05 ~ 2015.10(6개월)</h6>
                     <p>이화학기기 장비 제조 및 판매업체로써 6개월 계약직 사원으로 근무. 자사 홈페이지 유지보수 및 마케팅 업무</p>
                   </div>
                   <hr>
                   <div class="w3-container">
                     <h5 class="w3-opacity"><b>(주)모렌소프트</b></h5>
                     <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014.11 ~ 2015.04(6개월)</h6>
                     <p>홈페이지 제작,유지보수 업체로써 6개월 계약직 사원으로 근무, 신규홈페이지 제작 프로젝트 참여 및 홈페이지 유지보수 업무</p>
                  <hr>
                   </div> <br><br><br><br><br><br><br><br><br>
                 </div>


               <!-- End Right Column -->
               </div>

             <!-- End Grid -->
           </div><br>
             <!-- Services Section -->
           <div class="container">
             <div class="row text-center">
                   <div class="col-md-4">
                       <span class="fa-stack fa-4x">
                           <i class="fa fa-circle fa-stack-2x text-primary"></i>
                           <i class="	fa fa-street-view fa-stack-1x fa-inverse"></i>
                       </span>
                       <h4 class="service-heading">Challenging</h4>
                       <p class="text-muted">비록 관련 전공자는 아니지만, 웹디자인에 도전하게 되었습니다. 배워갈수록 새롭고 흥미로웠으며 누구보다 도전적인 삶을 살아가고 있습니다. </p>
                   </div>
                   <div class="col-md-4">
                       <span class="fa-stack fa-4x">
                           <i class="fa fa-circle fa-stack-2x text-primary"></i>
                           <i class="fa fa-unlock-alt fa-stack-1x fa-inverse"></i>
                       </span>
                       <h4 class="service-heading">Potential</h4>
                       <p class="text-muted">비전공자라는 백지인 상태에서 더 창의적인 결과물이 나올 수 있다고 생각합니다. 무궁무진하게 발전할 수 있는 잠재력이 있습니다.</p>
                   </div>
                   <div class="col-md-4">
                       <span class="fa-stack fa-4x">
                           <i class="fa fa-circle fa-stack-2x text-primary"></i>
                           <i class="fa fa-file-code-o fa-stack-1x fa-inverse"></i>
                       </span>
                       <h4 class="service-heading">Sensitivity</h4>
                       <p class="text-muted">디자인 감각과 꼼꼼하게 살피는 섬세함으로 디자인과 코딩을 즐겁게 도전합니다.</p>
                   </div>
               </div>
           </div>
        </div>

    </section>
